*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: var(--navy);
}

html::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--whitesmoke);
}

:root{
    /* COLORS */
    --dark-grey: hsl(0, 0%, 12%);
    --whitesmoke: hsl(0, 0%, 90%);
    --navy: hsl(255, 81%, 29%);
}

.header-section{ 
    width: 100%;
    min-height: 100vh;
    padding: 3em; /* Section padding */
    background-color: var(--navy);
    color: var(--whitesmoke);
} 

.header-section h1{
    font-size: 1.5em;
    font-weight: 100;
    justify-self: left;
}

.header-section ul{
    margin-top: -1.6em;
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 3em;
}

.header-section li a{
    text-decoration: none;
    color: var(--whitesmoke);
    font-size: 1.2em;
}

.header-section li a:hover{
    color: hsl(0, 0%, 80%);
    text-decoration: underline;
}

.header-section li a:active{
    color: hsl(0, 0%, 70%);
    text-decoration: underline;
}

.intro-and-headshot{ 
    padding-top: 9em; 
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 5em;  
}

.header-section .intro{  
    width: 70%;
    font-size: 1.4em;   
}

.header-section .intro .name{
    font-weight: bold;
    font-size: 1.4em;
}

.header-section .headshot{
    width: 30%; 
    display: flex;
    justify-content: end;   
}

.header-section .headshot img{ 
    width: 100%;
    height: 100%; 
    border-radius: 14px;  
    border: 2px solid hsl(0, 0%, 90%);
} 

.header-section .resume{
    width: 100%;
    height: 15%;
    padding: 4em;
    text-align: center;
    margin: 3em auto;
    color: var(--whitesmoke); 
} 

.header-section .resume a{
    color: var(--whitesmoke);
    font-size: 1.7em;
    text-decoration: none;
    border: 1px solid var(--whitesmoke);
    border-radius: .25em;
    padding: 1%;
}

.header-section .resume a:hover{
    color: var(--dark-grey);
    background-color: var(--whitesmoke);
    transition: ease-in 0.18s;
}

.skill-section{
    width: 100%; 
    min-height: 100vh;
    padding: 3em;
}

.skill-section h2{
    color: var(--dark-grey); 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.skill-section .skill-boxes{ 
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 2em;
    width: 100%;  
}

.skill-boxes .skill-box{
    margin: 0 auto;
    padding: 2em;
    width: 20em; 
    background-color: var(--navy);
    border-radius: 1.2em; 
    color: var(--whitesmoke); 
}

.skill-boxes .skill-box:hover{
    background-color: hsl(255, 81%, 39%);
    transition: ease-in .15s;
    cursor: crosshair;
}

.skill-boxes .skill-box h3{
    text-align: center;
    text-decoration: underline;
}

.skill-boxes .skill-box ul{  
    display: flex;
    flex-direction: column; 
    gap: .5em;
    padding: 1.5em;
}

.project-section{
    width: 100%;
    height: auto;
    min-height: 102vh;
    padding: 3em;
    background-color: var(--navy);
    color: var(--whitesmoke);
}

.project-section h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.project-section .filters{ 
    padding: 1.75em; 
    width: 25%;
    display: flex; 
    justify-content: space-between;
}

.project-section .filters select{
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    font-size: .9em;
    padding: .20em;
    border: none; 
    border-radius: .25em;
    cursor: pointer;
}

.project-section .filters select:hover{
    background-color: hsl(0, 0%, 80%);
}

.project-section .project-box{
    border: 2px solid var(--whitesmoke);
    border-radius: .35em;
    display: flex;  
    gap: 1em;
    padding: 1em 2em; 
    height: auto;  
    align-items: center;
}

.project-section .project-box h3{ 
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
} 

.project-box button{
    width: 1.6em;
    height: 1.6em;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 1em;
    color: var(--dark-grey);
    background-color: var(--whitesmoke);
    cursor: pointer;
    flex: 0 0 auto; 
}

.project-box button:hover{
    background-color: hsl(0, 0%, 80%);
}

.project-box button:active{
    background-color: hsl(0, 0%, 70%);
}

.project-box img{
    align-self: center;
    border-radius: .2em;
    width: auto;
    height: 17em;
    border: 2px solid var(--whitesmoke);
}

.project-box .tech-stack{ 
    align-self: flex-start;
}

.project-box .project-description{
    align-self: center;
}

.project-box .project-info{   
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap;  
    gap: 2em;
    padding: 4em; 
    min-width: 0; 
} 

.project-info .project-link{
    color: var(--whitesmoke); 
    align-self: center; 
    margin-top: auto;
}

.project-link:hover{
    color: hsl(0, 0%, 80%);
}

.project-link:active{
    color: hsl(0, 0%, 70%);
}

.project-main{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.project-details{
    display: flex;
    flex-direction: column; 
    gap: 3em; 
} 

.course-section{
    min-height: 100vh;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.course-section h2{
    color: var(--dark-grey);
    text-align: center;
    font-size: 2em;
}

.course-container{
    background-color: var(--navy);
    width: 75vw;
    height: 75vh;
    border-radius: 1em;
    margin-top: 4em;
    align-self: center;
    color: var(--whitesmoke);
    padding: 3em; 
}

.course-container ul{
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    height: 100%;
    gap: 1.5em;
} 

.course-container li{
    flex: 0 0 100%;  
}

.course-container h3{
    text-align: center;
    font-size: 1.5em;
}

.course-container p{
    font-size: 1.35em;
    padding-top: 5em;
}

.about-section{
    background-color: var(--navy);
    padding: 3em;
    min-height: 100vh;
    color: var(--whitesmoke);
    display: flex;
    flex-flow: column;
}

.about-section h2{
    text-align: center;
    padding-bottom: 3em;
    font-size: 2em;
}

.about-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2em; 
    padding-top: 4em;
    flex: 1;
    align-items: start;
}

.about-box{ 
    border: 2px solid var(--whitesmoke);
    padding: 3em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    min-height: 50vh;
}

.about-box:hover{
    background-color: hsl(255, 81%, 39%);
    transition: ease-in 0.15s;
    cursor: crosshair;
}

.about-box h3{
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 3.5em;
}

.about-box a{
    font-weight: bold;
    color: var(--whitesmoke);
}

.about-box a:hover{
    color: hsl(0, 0%, 80%);
}

.about-box a:active{
    color: hsl(0, 0%, 70%);
}

.about-section footer{
    text-align: center;
    padding-top: 5em;
    margin-top: auto;
}
 
@media screen and (max-width: 1320px){
    .project-section .filters{ 
        width: 30%;
    }
} 

@media screen and (max-width: 1140px){
    .skill-section .skill-boxes{
        grid-template-columns: auto auto;
    }

    .project-section .filters{ 
        width: 35%;
    }

    .about-boxes{
        padding-top: 1em;
    }

    .about-box{ 
        min-height: 80vh;
    }
}

@media screen and (max-width: 1110px){
    .header-section .intro{
        font-size: 1em;
    }

    .project-box img{
        height: 13em;
    }

    .project-details{
        font-size: .9em;
    }
}

@media screen and (max-width: 950px){
    .project-section .filters{ 
        width: 45%;
    }

    .about-boxes{
        grid-template-columns: auto;
    }

    .about-box{
        min-height: auto;
    }

    .project-main{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

@media screen and (max-width: 820px){
    .header-section .resume{ 
        display: none;
    }

    .skill-section .skill-boxes{
        grid-template-columns: auto;
    }

    .project-section .filters{ 
        width: 50%;
    }
} 

@media screen and (max-width: 700px){
    .header-section .headshot{
        display: none;
    }

    .project-section .filters{ 
        display: none;
    }

    .project-section h2{
        padding-bottom: 2em;
    }

    .project-section img{
        height: 10em;
    }

    .intro-and-headshot{
        
        flex-direction: column;
    }

    .header-section ul{
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .skill-section .skill-box{
        width: 15em;
    }
}