*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}

body{
    background-color: var(--whitesmoke);
}

:root{
    /* COLORS */
    --dark-grey: hsl(0, 0%, 12%);
    --whitesmoke: hsl(0, 0%, 90%);
    --navy: hsl(255, 81%, 29%);
}

.header-section{ 
    width: 100%;
    height: 100vh;
    padding: 2em; /* Section padding */
    background-color: var(--navy);
    color: var(--whitesmoke);
} 

.header-section h1{
    font-size: 1.5em;
    font-weight: 100;
    justify-self: left;
}

.header-section ul{
    margin-top: -1em;
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 3em;
}

.header-section li a{
    text-decoration: none;
    color: var(--whitesmoke);
    font-size: 1.2em;
}

.header-section li a:hover{
    color: hsl(0, 0%, 80%);
    text-decoration: underline;
}

.header-section li a:active{
    color: hsl(0, 0%, 70%);
    text-decoration: underline;
}

.intro-and-headshot{ 
    padding-top: 9em; 
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.header-section .intro{  
    width: 45%;
    font-size: 1.25em;
}

.header-section .intro .name{
    font-weight: bold;
    font-size: 1.4em;
}

.header-section .headshot{
    width: 40%; 
    justify-content: right;
}

.header-section .headshot img{ 
    width: 100%;
    height: 100%; 
    border-radius: 14px;
}

.header-section .resume{
    width: 100%;
    height: 15%;
    padding: 1em;
    text-align: center;
    margin: 6em auto;
    color: var(--whitesmoke); 
} 

.header-section .resume a{
    color: var(--whitesmoke);
    font-size: 1.7em;
    text-decoration: none;
    border: 1px solid var(--whitesmoke);
    border-radius: .25em;
    padding: 1%;
}

.header-section .resume a:hover{
    color: var(--dark-grey);
    background-color: var(--whitesmoke);
    transition: ease-in 0.18s;
}

.skill-section{
    width: 100%; 
    padding: 2em;
}

.skill-section h2{
    color: var(--dark-grey); 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.skill-section .skill-boxes{ 
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 2em;
    width: 100%;  
}

.skill-boxes .skill-box{
    margin: 0 auto;
    padding: 2em;
    width: 20em; 
    background-color: var(--navy);
    border-radius: 1.2em; 
    color: var(--whitesmoke); 
}

.skill-boxes .skill-box h3{
    text-align: center;
    text-decoration: underline;
}

.skill-boxes .skill-box ul{  
    display: flex;
    flex-direction: column; 
    gap: .5em;
    padding: 1.5em;
}

.project-section{
    width: 100%;
    height: 100vh;
    padding: 2em;
    background-color: var(--navy);
    color: var(--whitesmoke);
}

.project-section h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.project-section .filters{ 
    padding: 1.75em 0; 
    width: 25%;
    display: flex; 
    justify-content: space-between;
}

.project-section .filters select{
    background-color: var(--whitesmoke);
    color: var(--dark-grey);
    font-size: .9em;
    padding: .20em;
    border: none; 
    border-radius: .25em;
}

.project-section .filters select:hover{
    background-color: hsl(0, 0%, 80%);
}

.project-section .project-box{
    border: 2px solid var(--whitesmoke);
    padding: 2em;
    width: 100%;
    height: 80%; 
}

.project-section .project-box h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.35em;
}

.project-box .project-box-flex{
    border: 2px solid snow;
    display: flex;
}